<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">

    <test name="soucedemo">
        <classes>
            <!--            <class name="com.belajartestng.AdvancedAction"></class>-->
        </classes>
    </test>
</suite>